<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=5dcae05b-c22d-4c36-ab5e-a33c007f3c04.sqlserver.sequelizer.com;Database=db5dcae05bc22d4c36ab5ea33c007f3c04;User ID=hbsgelcufcjgvazl;Password=ZkLULPCNoBqP5hkqTf8YqrwqaDA5iLizGUkhujeJHebPmxZe3fCTcfkGWvThnGEJ;"/>
    
  </connectionStrings>
</configuration>
