<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='c:\users\admin\documents\visual studio 2010\Projects\WebApplication2\WebApplication2\App_Data\Database1.mdf';Integrated Security=True;User Instance=True"/>
    
  </connectionStrings>
</configuration>
